@model Deed.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Log In</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents single login-register" style="margin-top:3px">
    <div class="row">
        
        <div class="col-md-8 main-wrap">
            <section id="loginForm">
                <h3><span>Log In</span></h3>
                <div class="main">
                    <div class="">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "container contents single login-register", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                           
                           
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName)
                                <div>
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div class="">
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Log in" class="real-btn login-btn" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Register", "Register") if you don't have a local account.
                            </p>
                        }
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
    </div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
