@model IEnumerable<Deed.Data.Objects.Student>
@{
    ViewBag.Title = "Deed A Day";
}
<!-- START REVOLUTION SLIDER 4.2.5 fullwidth mode -->
<!-- START REVOLUTION SLIDER 4.5.7 fullwidth mode -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
<div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#dedede;padding:0px;margin-top:0px;margin-bottom:0px;max-height:550px;">
    <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;max-height:550px;height:550px;">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="900" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/bg_slide_1.jpg" alt="bg_slide_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfr"
                     data-x="700"
                     data-y="75"
                     data-speed="900"
                     data-start="900"
                     data-easing="Sine.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <div class="circulabox"><img class="img-circular" src="~/Content/images/SliderImg/s1.jpg" alt=""></div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption realhomes_large_white skewfromleft tp-resizeme"
                     data-x="100"
                     data-y="140"
                     data-speed="800"
                     data-start="800"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    Deed A Day
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption small_text skewfromleft tp-resizeme"
                     data-x="102"
                     data-y="205"
                     data-speed="600"
                     data-start="1100"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 4; max-width: 450px; max-height: auto; white-space: normal;">
                    Coffee a day cost more than a Pound , Deed a Day cost less than a coffee a day, 1 Pound *365 Days can help educating a child (Schooling +Uniform +Books ).
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="102"
                     data-y="305"
                     data-speed="900"
                     data-start="1400"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href='#' class='tp-button green custom small'>View Details</a>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white_bg_text lfb tp-resizeme"
                     data-x="788"
                     data-y="356"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    Complete 12 Years Schooling
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption roundedtext lfb tp-resizeme"
                     data-x="668"
                     data-y="305"
                     data-speed="600"
                     data-start="1700"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    &#163;3,600
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/bg_slide_2.jpg" alt="bg_slide_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_black_text sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="60"
                     data-speed="300"
                     data-start="500"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    1200 Anastasia Avenue, Coral Gables
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption normal_text_dark sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="110"
                     data-speed="300"
                     data-start="800"
                     data-easing="Quad.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 3; max-width: 850px; max-height: auto; white-space: normal;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna naliquyam erat, sed diam voluptua.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfl"
                     data-x="center" data-hoffset="-250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Cubic.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 4;">
                    <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/slide_2_img_1.png" alt="">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1100"
                     data-easing="Cubic.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 5;">
                    <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/slide_2_img_2.png" alt="">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfr"
                     data-x="center" data-hoffset="250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1700"
                     data-easing="Cubic.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 6;">
                    <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/slide_2_img_3.png" alt="">
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption black randomrotate tp-resizeme"
                     data-x="center" data-hoffset="-100"
                     data-y="center" data-voffset="-70"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href='#' class='tp-button green custom small'>View Details</a>
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption large_bold_black_text customin tp-resizeme"
                     data-x="center" data-hoffset="118"
                     data-y="center" data-voffset="-71"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="300"
                     data-start="2300"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    $480,000
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/bg_slide_3.jpg" alt="bg_slide_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl"
                     data-x="150"
                     data-y="70"
                     data-speed="500"
                     data-start="500"
                     data-easing="Quart.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/revslider/realhomes/slide_img_1.png" alt="" data-ww="400" data-hh="400">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_white_heading lft tp-resizeme"
                     data-x="596"
                     data-y="120"
                     data-speed="400"
                     data-start="800"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: pre;">
                    Special
                    Offer Price
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="600"
                     data-y="370"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href='#' class='tp-button green custom small'>View Details</a>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_text lfr tp-resizeme"
                     data-x="600"
                     data-y="265"
                     data-speed="400"
                     data-start="1700"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 5; max-width: 400px; max-height: auto; white-space: normal;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_bold_price_text lfb tp-resizeme"
                     data-x="286"
                     data-y="390"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-end="5700"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    $480,000
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<script type="text/javascript">

    /******************************************
        -	PREPARE PLACEHOLDER FOR SLIDER	-
    ******************************************/


    var setREVStartSize = function () {
        var tpopt = new Object();
        tpopt.startwidth = 1170;
        tpopt.startheight = 550;
        tpopt.container = jQuery('#rev_slider_3_1');
        tpopt.fullScreen = "off";
        tpopt.forceFullWidth = "off";

        tpopt.container.closest(".rev_slider_wrapper").css({ height: tpopt.container.height() }); tpopt.width = parseInt(tpopt.container.width(), 0); tpopt.height = parseInt(tpopt.container.height(), 0); tpopt.bw = tpopt.width / tpopt.startwidth; tpopt.bh = tpopt.height / tpopt.startheight; if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw; if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh; if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw; if (tpopt.bh > 1) { tpopt.bw = 1; tpopt.bh = 1 } if (tpopt.bw > 1) { tpopt.bw = 1; tpopt.bh = 1 } tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth)); if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight; if (tpopt.fullScreen == "on") { tpopt.height = tpopt.bw * tpopt.startheight; var cow = tpopt.container.parent().width(); var coh = jQuery(window).height(); if (tpopt.fullScreenOffsetContainer != undefined) { try { var offcontainers = tpopt.fullScreenOffsetContainer.split(","); jQuery.each(offcontainers, function (e, t) { coh = coh - jQuery(t).outerHeight(true); if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight }) } catch (e) { } } tpopt.container.parent().height(coh); tpopt.container.height(coh); tpopt.container.closest(".rev_slider_wrapper").height(coh); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh); tpopt.container.css({ height: "100%" }); tpopt.height = coh; } else { tpopt.container.height(tpopt.height); tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height); }
    };

    /* CALL PLACEHOLDER */
    setREVStartSize();


    var tpj = jQuery;
    tpj.noConflict();
    var revapi3;

    tpj(document).ready(function () {

        if (tpj('#rev_slider_3_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_3_1');
        else
            revapi3 = tpj('#rev_slider_3_1').show().revolution(
             {
                 dottedOverlay: "none",
                 delay: 6000,
                 startwidth: 1170,
                 startheight: 550,
                 hideThumbs: 200,

                 thumbWidth: 100,
                 thumbHeight: 50,
                 thumbAmount: 3,

                 navigationType: "none",
                 navigationArrows: "solo",
                 navigationStyle: "round",

                 touchenabled: "on",
                 onHoverStop: "on",

                 swipe_velocity: 0.7,
                 swipe_min_touches: 1,
                 swipe_max_touches: 1,
                 drag_block_vertical: false,


                 keyboardNavigation: "off",

                 navigationHAlign: "center",
                 navigationVAlign: "bottom",
                 navigationHOffset: 0,
                 navigationVOffset: 20,

                 soloArrowLeftHalign: "left",
                 soloArrowLeftValign: "center",
                 soloArrowLeftHOffset: 20,
                 soloArrowLeftVOffset: 0,

                 soloArrowRightHalign: "right",
                 soloArrowRightValign: "center",
                 soloArrowRightHOffset: 20,
                 soloArrowRightVOffset: 0,

                 shadow: 0,
                 fullWidth: "on",
                 fullScreen: "off",

                 spinner: "spinner3",

                 stopLoop: "off",
                 stopAfterLoops: -1,
                 stopAtSlide: -1,

                 shuffle: "off",

                 autoHeight: "off",
                 forceFullWidth: "off",



                 hideThumbsOnMobile: "off",
                 hideNavDelayOnMobile: 1500,
                 hideBulletsOnMobile: "off",
                 hideArrowsOnMobile: "off",
                 hideThumbsUnderResolution: 0,

                 hideSliderAtLimit: 0,
                 hideCaptionAtLimit: 768,
                 hideAllCaptionAtLilmit: 0,
                 startWithSlide: 0
             });




    });	/*ready*/

</script>


<style type="text/css">
    #rev_slider_3_1_wrapper .tp-loader.spinner3 div {
        background-color: #fff !important;
    }
</style>
<!-- END REVOLUTION SLIDER -->

<style type="text/css">
    #rev_slider_1_1_wrapper .tp-loader.spinner3 div {
        background-color: #fff !important;
    }
</style>
<!-- END REVOLUTION SLIDER -->
@*@Html.Partial("_slider")*@
@Html.Partial("_searchStudent")
@Html.Partial("_content")

<div class="container contents">
    <div class="row">

        <div class="span12">

            <!-- Main Content -->
            <div class="main">
                <section id="home-idx-search" class="clearfix dsidx-widget-search">
                    @*<h3>Student Search</h3>*@<div class="dsidx-search-widget dsidx-widget">
                        @using (Html.BeginForm("Get", "Home", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            <form action="http://alt-realhomes.inspirythemes.com/idx/" method="get" onsubmit="return dsidx_w.searchWidget.validate();">
                                @*@Html.DropDownList("Country","Any")
                                    @Html.DropDownList("State","Any")
                                    @Html.DropDownList("District","Any")*@


                                <input id="" name="FirstName" type="text" class="dsidx-mlsnumber" placeholder="Enter First Name">
                                <input id="" name="LastName" type="text" class="dsidx-mlsnumber" placeholder="Enter Last Name">

                                @Html.DropDownList("Country", "Select Any Country")
                                @Html.DropDownList("State", "Select Any State")
                                @Html.DropDownList("City", "Select Any City")
                                @*<input id="" name="" type="text" class="dsidx-price" placeholder="Min Price">
                                    <input id="" name="" type="text" class="dsidx-price" placeholder="Max Price">*@

                                <div class="dsidx-search-button search-form">
                                    <input type="submit" class="submit real-btn" value="Search for Students">
                                </div>
                            </form>
                        }
                    </div>
                </section>

                @Html.Action("Query") @*student section*@
                <section class="featured-properties-carousel clearfix">
                    <div class="narrative">
                        <h3>Featured Projects</h3>
                        <p>View a list of Featured Projects.</p>
                    </div>
                    <div class="carousel es-carousel-wrapper">
                        <div class="es-carousel">
                            <ul class="clearfix" style="width: 1925px; margin-left: 0px;">
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-10-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/"> Know More </a> </p>
                                    @*<span class="price">$3,850 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-08-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="700 Front Street, Key West, FL" title="700 Front Street, Key West, FL">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">700 Front Street, Key West, FL</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/"> Know More </a> </p>
                                    @*<span class="price">$850,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/" title="401 Biscayne Boulevard, Miami">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-02-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="401 Biscayne Boulevard, Miami" title="401 Biscayne Boulevard, Miami">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/" title="401 Biscayne Boulevard, Miami">401 Biscayne Boulevard, Miami</a></h4>
                                    <p>Nam liber tempor cum soluta nobis eleifend option… <a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/"> Know More </a> </p>
                                    @*<span class="price">$3,250 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/" title="3015 Grand Avenue, CocoWalk">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-06-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="3015 Grand Avenue, CocoWalk" title="3015 Grand Avenue, CocoWalk">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/" title="3015 Grand Avenue, CocoWalk">3015 Grand Avenue, CocoWalk</a></h4>
                                    <p>Ut wisi enim ad minim veniam, quis nostrud… <a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/"> Know More </a> </p>
                                    @*<span class="price">$4,350 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-04-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="1200 Anastasia Avenue, Coral Gables" title="1200 Anastasia Avenue, Coral Gables">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">1200 Anastasia Avenue, Coral Gables</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/"> Know More </a> </p>
                                    @*<span class="price">$625,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/" title="60 Merrick Way, Miami">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-07-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="60 Merrick Way, Miami" title="60 Merrick Way, Miami">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/" title="60 Merrick Way, Miami">60 Merrick Way, Miami</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/"> Know More </a> </p>
                                    @*<span class="price">$440,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" title="Florida 5, Pinecrest, FL">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-09-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a></h4>
                                    <p>Nam liber tempor cum soluta nobis eleifend option… <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/"> Know More </a> </p>
                                    @*<span class="price">$480,000 </span>*@
                                </li>
                            </ul>
                        </div>
                        <div class="es-nav"><span class="es-nav-prev"></span><span class="es-nav-next"></span></div>
                    </div>
                </section>

                <section class="home-recent-posts container-fluid clearfix">
                    <div class="section-title">
                        <h3>Recent Posts</h3>
                        <p>View recent posts</p>
                    </div>
                    <div class="recent-posts-container row-fluid clearfix">
                        <article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior span4 clearfix">
                            <figure>
                                <span class="format-icon image"></span>
                                <a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-01.jpg" class="swipebox" title="Lorem Post With Image Format">
                                    <img width="536" height="269" style="max-width:100%" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-01-536x269.jpg" class="attachment-gallery-two-column-image wp-post-image" alt="News Post">
                                </a>
                            </figure>
                            <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/lorem-post-with-image-format/">Lorem Post With Image Format</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/lorem-post-with-image-format/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                        <article class="post-23 post type-post status-publish format-video has-post-thumbnail hentry category-market-updates tag-custom tag-trend span4 clearfix">
                            <div class="post-video">
                                <span class="format-icon video"></span>
                                <div class="video-wrapper on-home-page">
                                    <iframe src="http://player.vimeo.com/video/23534361" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/example-video-blog-post/">Example Video Blog Post</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/example-video-blog-post/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                        <article class="post-15 post type-post status-publish format-gallery has-post-thumbnail hentry category-market-updates tag-beach tag-interior span4 clearfix">
                            <div class="listing-slider">
                                <span class="format-icon gallery"></span>

                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 1000%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-682px, 0px, 0px);">
                                        <li class="clone" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03-536x269.jpg" alt="Chair One"></a></li>
                                        <li class="" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06-536x269.jpg" alt="Chair Three"></a></li>
                                        <li class="flex-active-slide" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-04.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-04-536x269.jpg" alt="Chair Two"></a></li>
                                        <li style="width: 341px; float: left; display: block;" class=""><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03-536x269.jpg" alt="Chair One"></a></li>
                                        <li class="clone" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06-536x269.jpg" alt="Chair Three"></a></li>
                                    </ul>
                                </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav" style="display: none;"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                            </div>                    <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/example-post-with-gallery-post-format/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                    </div>
                </section>
            </div><!-- End Main Content -->

        </div> <!-- End span12 -->

    </div><!-- End  row -->

</div>
