@model PagedList.IPagedList<Deed.Web.ViewModels.CardViewModel>
@{
    ViewBag.Title = "Part Sponsor";
}
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Part Sponsor</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span9 main-wrap" >
            <div class="main ">

                <section id="sec" class="listing-layout">

                    <h3 class="title-heading"><a class="">Sponsor Students</a> </h3>


                    <div class="view-type clearfix">
                        <a id="list" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th-list">
                            </span>
                        </a> <a id="grid" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th"></span>
                        </a>
                    </div>

                    <div class="list-container clearfix">
                        @foreach (var m in Model)
                        {
                            var Yearlyfee = Math.Round(m.YearlyFee, 2);
                            <div class="span6 " id="articleparent">
                                <article class="property-item clearfix">

                                    <h4><a href="@Url.Action("Details", "Search", new {id = m.ID })" title="">@m.Name</a></h4>

                                    <figure>
                                        <a href="@Url.Action("Details", "Search", new {id = m.ID })" title="@m.Name">
                                            <img width="244" height="163" src="http://deedaday.in/img/upload/students/@m.Picture" class="attachment-property-thumb-image wp-post-image" alt="@m.Name" title="@m.Name">
                                        </a>
                                    </figure>

                                    <div class="detail" id="divstudent">
                                        <h5 class="price">
                                            &#163; 281 Per Year
                                        </h5>
                                        <p>@m.FamilyHistory</p>
                                        <a class="more-details" href="@Url.Action("Details", "Pledge", new { id=@m.ID})">More Details <i class="fa fa-caret-right"></i></a>
                                        <button id="select" data-src="http://deedaday.in/img/upload/students/@m.Picture" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</button>
                                        <div class="progresscontainer">
                                            <div class="progress progress-striped active">
                                                <div data-id="@m.ID" data-amount="@m.PartAmount" class="progress-bar" style="width: 0%;"></div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="property-meta">
                                        <span><b>Father:</b></span><span>@m.Father</span><span><b>Mother:</b></span><span>@m.Mother</span>
                                    </div>

                                </article>
                            </div>
                        }
                    </div>
                    <div>

                    </div>

                    <div class="pagination"><a href="@Url.Action("PartSponsor", new { page = 1 })" class="real-btn current" style="margin-left: 323px;">1</a> <a href="@Url.Action("PartSponsor", new { page = 2 })" class="real-btn">2</a> <a href="@Url.Action("PartSponsor", new { page = 3 })" class="real-btn">3</a></div>
                </section>

            </div>
        </div>
        
        <script type="text/javascript">

            

            $('.progress-bar').each( function () {
                var $bar = this;
                var amount = $(this).attr("data-amount");
                var result = parseFloat(parseInt(amount, 10) * 100) / 365;
                var widdth = 400 * result / 100;
                widdth = Math.round(widdth);
                $(this).width(widdth);
                $(this).text(parseInt(result) + "%");

                });
                    //var self = this;
                    //var progress = setInterval(function () {
                    //    var $bar = $('.progress-bar');
                    //    var amount = 255;
                    //    var result = parseFloat(parseInt($bar.attr("data-amount"), 10) * 100) / 365;
                    //    var widdth = 400 * result / 100;
                    //    widdth = Math.round(widdth);
                    //    if ($bar.width() == widdth) {
                    //        clearInterval(progress);
                    //        $('.progress').removeClass('active');
                    //    } else {
                    //        $bar.width($bar.width() + 4);
                    //    }
                    //    $bar.text(parseInt($bar.width() / 4) + "%");
                    //}, 1);


                



                $(" .view-type #list").on('click', function (event) {
                    event.preventDefault();

                    $('#sec').removeClass('property-grid');
                    $("h5").addClass("price");
                    $("div.property-meta").show();
                    //$("#divstudent #select").show();
                    $(".property-item #divstudent").addClass('detail');
                    $(".list-container #articleparent").addClass('span6');
                    $("p").css('font-size', '13px');
                    $("p").css('line-height', '23px');

                });
                $(".view-type  #grid").on('click', function (event) {
                    //event.preventDefault();
                    $('#sec').addClass('property-grid ');
                    $("h5").removeClass("price");
                    $("div.property-meta").hide();
                    //$("#divstudent #select").remove();
                    $(".property-item #divstudent").removeClass('detail');
                    $(".list-container #articleparent").removeClass('span6');
                    $("p").css('font-size', '12px');
                    $("p").css('line-height', '14px');

                });
            
    </script>