<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Give To Students</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span9 main-wrap">

            <!-- Main Content -->
            <div class="main">

                <section class="listing-layout">

                    <h3 class="title-heading">Listing</h3>
                    <div id="map_canvas" style="width: 800px; height :347px; margin-left:29px;margin-top:36px;"></div>
                    <div class="view-type clearfix">
                        <a class="list active" href="http://inspirythemesdemo.com/realhomes/listing/?view=list"></a>
                        <a class="grid" href="http://inspirythemesdemo.com/realhomes/listing/?view=grid"></a>
                    </div>

                    <div class="list-container clearfix">
                        <div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/property-10-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                                    </a>
                                    <figcaption>
                                        For Rent
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $3,850 Per Month<small> - Villa</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>2800&nbsp;Sq Ft</span><span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i class="icon-bath"></i>3&nbsp;Bathrooms</span><span><i class="icon-garage"></i>2&nbsp;Garages</span>
                                </div>

                            </article>
                        </div><div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">700 Front Street, Key West, FL</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/property-08-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="700 Front Street, Key West, FL" title="700 Front Street, Key West, FL">
                                    </a>
                                    <figcaption>
                                        For Sale
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $850,000 <small> - Single Family Home</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div class="d" id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>3800&nbsp;Sq Ft</span><span><i class="icon-bed"></i>4&nbsp;Bedrooms</span><span><i class="icon-bath"></i>3&nbsp;Bathrooms</span><span><i class="icon-garage"></i>2&nbsp;Garages</span>
                                </div>

                            </article>
                        </div><div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">1200 Anastasia Avenue, Coral Gables</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/property-04-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="1200 Anastasia Avenue, Coral Gables" title="1200 Anastasia Avenue, Coral Gables">
                                    </a>
                                    <figcaption>
                                        For Sale
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $625,000 <small> - Villa</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div class="d" id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>4500&nbsp;Sq Ft</span><span><i class="icon-bed"></i>4&nbsp;Bedrooms</span><span><i class="icon-bath"></i>4&nbsp;Bathrooms</span><span><i class="icon-garage"></i>2&nbsp;Garages</span>
                                </div>

                            </article>
                        </div><div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/retail-store-southwest-186th-street/" title="Retail Store – Southwest 186th Street">Retail Store – Southwest 186th Street</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/retail-store-southwest-186th-street/" title="Retail Store – Southwest 186th Street">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2014/06/retail-store-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="Retail Store – Southwest 186th Street" title="Retail Store – Southwest 186th Street">
                                    </a>
                                    <figcaption>
                                        For Rent
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $4,200 Per Month<small> - Shop</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div class="d" id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>3400&nbsp;Sq Ft</span>
                                </div>

                            </article>
                        </div><div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/apartment-building-having-35-apartments/15-apartments-of-type-b/" title="15 Apartments of Type B">15 Apartments of Type B</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/apartment-building-having-35-apartments/15-apartments-of-type-b/" title="15 Apartments of Type B">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2014/06/apartment-b-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15 Apartments of Type B" title="15 Apartments of Type B">
                                    </a>
                                    <figcaption>
                                        For Rent
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $2,200 Per Month<small> - Apartment</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div class="d" id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>1450&nbsp;Sq Ft</span><span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i class="icon-bath"></i>1&nbsp;Bathroom</span>
                                </div>

                            </article>
                        </div><div class="span6 ">
                            <article class="property-item clearfix">

                                <h4><a href="http://inspirythemesdemo.com/realhomes/property/apartment-building-having-35-apartments/20-apartments-of-type-a/" title="20 Apartments of Type A">20 Apartments of Type A</a></h4>

                                <figure>
                                    <a href="http://inspirythemesdemo.com/realhomes/property/apartment-building-having-35-apartments/20-apartments-of-type-a/" title="20 Apartments of Type A">
                                        <img width="244" height="163" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2014/06/apartment-a-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="20 Apartments of Type A" title="20 Apartments of Type A">
                                    </a>
                                    <figcaption>
                                        For Rent
                                    </figcaption>
                                </figure>

                                <div class="detail">
                                    <h5 class="price">
                                        $2,500 Per Month<small> - Apartment</small>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                    <a class="more-details" href="@Url.Action("slid", "Pledge")">More Details <i class="fa fa-caret-right"></i></a>
                                </div>
                                <div class="d" id="progresss"></div>
                                <div class="property-meta">
                                    <span><i class="icon-area"></i>1650&nbsp;Sq Ft</span><span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i class="icon-bath"></i>2&nbsp;Bathrooms</span>
                                </div>

                            </article>
                        </div>
                    </div>

                    <div class="pagination"><a href="http://inspirythemesdemo.com/realhomes/listing/" class="real-btn current">1</a> <a href="http://inspirythemesdemo.com/realhomes/listing/page/2/" class="real-btn">2</a> <a href="http://inspirythemesdemo.com/realhomes/listing/page/3/" class="real-btn">3</a> </div>
                </section>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->
       
        <div class="span3 sidebar-wrap">

            <!-- Sidebar -->
            
            <!-- End Sidebar -->
            
        </div>
    </div><!-- End contents row -->
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var bar1 = $("#progresss").progressbar();
        var barrrr = bar1.progress(50);
        var bar1 = $(".d").progressbar();
        var barrrr = bar1.progress(50);

    });
    </script>












