@model Deed.Web.ViewModels.SponsorPaymentViewModel

@{
    ViewBag.Title = "_Grid";
}
@*<h2>_Grid</h2>*@
<link href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/css/._style.css" rel="stylesheet" />
@*<a href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css">~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css</a>*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            
            <button id="d" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sponsor Details</h4>
            
        </div>
        <div class="modal-body">
            <div class="row">
                <section id="photos">

                    @foreach (var m in Model.Picture)
                    {
                        <div class="col-md-3 col-sm-3 close" style="margin-bottom:10px;">
                            x<img class=" " data-dismiss="img" src="http://deedaday.in/img/upload/students/@m" style=" height:163px;width:100%" />
                        </div>
                    }
                   
                </section>
            </div>
            <section>
                <div class="inner-wrapper">
                    @using (Html.BeginForm("Sponsorr", "Pledge", FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<h4>Create a new account.</h4>*@
                        @Html.ValidationSummary()
                        <label> Fill Your Details:</label>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new { })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "First Name", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Last Name", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Email", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Mobile", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Address Line 1", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Address Line 2", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "City", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "State", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Postal Code", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Nationality", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m=>m.Name, new {  })*@
                            <div class="">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Card Issuing Country ", @class = "form-control" })
                            </div>
                        </div>
                        
                        foreach (var StudentId in Model.StudentId)
                        { 
                        @Html.HiddenFor(y => StudentId)
                        }
                            
                        <button id="submit" type="submit" class="btn btn-xs btn-danger pull-right">Next</button>
                    }
                    @*<a id="select" class="btn btn-xs btn-danger pull-right">Next</a>*@
                    
                </div>
                
            </section>
            
        </div>
        
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    $("#photos").on('click','.close',function (e) {
        $(this).hide();
    });

    $("#next").on('click', function (e) {

        $.ajax({
            type: "POST",
            url: '/Pledge/PayNext',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Selected:'@Model.StudentId'


            }),
            success: function (d) {
                if (!!d) { }
            }
        });


    });



</script>