@model IEnumerable<Deed.Web.ViewModels.CardViewModel>
@{
    ViewBag.Title = "Support Us";
}

<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/hands_raised_0.png'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Pledge/Support Us</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span9 main-wrap">
            <div class="main ">

                <section class="listing-layout">

                    <h3 class="title-heading"><a class="">Sponsor Students</a> </h3>

                    <div class="view-type clearfix">
                        <a class="list active" href="http://alt-realhomes.inspirythemes.com/listing/?view=list"></a>
                        <a class="grid" href="http://alt-realhomes.inspirythemes.com/listing/?view=grid"></a>
                    </div>

                    <div class="list-container clearfix">
                        @foreach (var m in Model)
                        {
                            <div class="span6 ">
                                <article class="property-item clearfix">

                                    <h4><a href="http://deedaday.in/img/upload/students/@m.Picture" title="">@m.Name</a></h4>

                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                            <img width="244" height="163" src="http://deedaday.in/img/upload/students/@m.Picture" class="attachment-property-thumb-image wp-post-image" alt="@m.Name" title="@m.Name">
                                        </a>
                                    </figure>

                                    <div class="detail" id="divstudent">
                                        <h5 class="price">
                                            &#163; 3,850 Per Year
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                        @*<a class="more-details" href="@Url.Action("Details", "Pledge", new {id=m.ID })">More Details <i class="fa fa-caret-right"></i></a>*@
                                        <a class="more-details" href="@Url.Action("Details", "Pledge", new { id=@m.ID})">More Details <i class="fa fa-caret-right"></i></a>

                                        @*<span class="pull-right"><input type="submit" value="Select" class="real-btn login-btn" /></span>*@
                                        @*<span class="pull-right"><a id="select" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</a></span>*@
                                        <button id="select" data-src="http://deedaday.in/img/upload/students/@m.Picture" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</button>


                                    </div>

                                    <div class="property-meta">
                                        <span><b>Father:</b></span><span>@m.Father</span><span><b>Mother:</b></span><span>@m.Mother</span>
                                    </div>

                                </article>
                            </div>
                        }
                    </div>
                    <div>
                        @*<span class="sponsor-btn"><input type="submit" id="sponsor" value="Sponsor" class="real-btn login-btn" /></span>*@
                    </div>

                    <div class="pagination"><a href="http://alt-realhomes.inspirythemes.com/listing/" class="real-btn current" style="margin-left: 394px;">1</a> <a href="http://alt-realhomes.inspirythemes.com/listing/page/2/" class="real-btn">2</a> </div>
                </section>

            </div>
        </div>
        @*@Html.Partial("_works")*@
        <div class="panel panel-success pull-right">
            <div class="panel-heading">Selected Students</div>
            @*<div class="panel-body">
                    Panel body content goes here...
                </div>*@
            <ul class="list-group" id="stdimg">
                @*<li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mantej Singh Dhanjal" data-content="Amount:&#163; 222,Religion:,Class:Hindu,Age:13 "><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>

                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Guru Thakur" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Monty" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Montex" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Gurpeet" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>*@


            </ul>
            <div class="panel-body">
                <div class="panel panel-info">
                    @*<div class="panel-heading">Total Expenses</div>*@
                    <ul class="list-group">
                        <li class="list-group-item">Total Selected Students=</li>
                        <li class="list-group-item">Add 5% Admin Charges=</li>
                        <li class="list-group-item">Total Amount=</li>


                    </ul>
                </div>
            </div>
            <div><button id="submit" type="submit" class="btn btn-xs btn-danger pull-right">Sponsor</button></div>
        </div>

    </div>
</div>







<script type="text/javascript" async>
    //$(document).ready(function () {

    var slectedItems = [];
    var i = 0;
    $("#divstudent #select").on('click', function (e) {

        //$(".panel-success #stdimg").append('<li class="list-group-item"><img id="img" style="height:150px; width:150px" src=' + $(this).attr('data-src') + ' ><div id="cls" class="close">X</div></li>');
        $(".listing-layout .title-heading").text("Sponsor Selected Student");
        e.preventDefault();
        var closeButton = $(this);
        slectedItems.push($(this).attr("data-id"));
        //$(this).text("Selected");
        $(this).replaceWith("<a class='btn btn-warning' disabled='disabled' id='e' >Student has been selected</a>");
        $.ajax({
            type: "POST",
            url: '/Pledge/Details',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: $(this).attr("data-id")

            }),
            success: function (d) {
                if (!!d) {
                    @*$('<div class="modal fade">' + d + '</div>').modal(true); closeButton.text("Sponsor Selected Student");
                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="@m.first_name" data-content="Amount:&#163 222 ,Village:@m.village,Phone:@m.phone1"><img src="http://deedaday.in/img/upload/students/@m.image" style="width:150px; height: 150px;" /><div id="cls" class="close">X</div></li>*@
                    $(".panel-success #stdimg").append('<li class="list-group-item" data-container="body"  data-toggle="popover" data-placement="top" data-original-title="' + d.first_name + '" data-content=Village:' + d.village + '><img id="img" style="height:150px; width:150px" src="http://deedaday.in/img/upload/students/'+d.image+'"><div id="cls" class="close">X</div></li>');
                    $(".list-group .list-group-item").popover();
                }
            }
        });

        

        $(".list-group  #cls").click(function (e) {
           
            $(this).parent().hide();
        });

    });

    $(".listing-layout .title-heading").on('click', function (e) {
        e.preventDefault();
        $(this).text("Loading.....");
        var closeButton = $(this);
        $.ajax({
            type: "POST",
            url: '/Pledge/Cart',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Selected: $.unique(slectedItems)

            }),
            success: function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(true); closeButton.text("Sponsor Selected Student"); }
            }
        });

    });


    

    //$(".list-group .list-group-item").popover('show');
    


    //});
</script>

