@model IEnumerable<Deed.Web.ViewModels.CardViewModel>
@{
    ViewBag.Title = "Support Us";
}

<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/Dscool4.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Pledge/Support Us</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span9 main-wrap">
            <div class="main ">

                <section class="listing-layout">

                    <h3 class="title-heading">Students</h3>

                    <div class="view-type clearfix">
                        <a class="list active" href="http://alt-realhomes.inspirythemes.com/listing/?view=list"></a>
                        <a class="grid" href="http://alt-realhomes.inspirythemes.com/listing/?view=grid"></a>
                    </div>

                    <div class="list-container clearfix">
                        @foreach (var m in Model)
                        {
                            <div class="span6 ">
                                <article class="property-item clearfix">

                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">@m.Name</a></h4>

                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-10-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                                        </a>
                                    </figure>

                                    <div class="detail">
                                        <h5 class="price">
                                            @m.Caste
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>
                                        <a class="more-details" href="@Url.Action("Details", "Pledge", new {id=m.ID })">More Details <i class="fa fa-caret-right"></i></a>
                                        @*<span class="pull-right"><input type="submit" value="Select" class="real-btn login-btn" /></span>*@
                                        @*<span class="pull-right"><a id="select" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</a></span>*@
                                        <button id="select" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</button>

                                        
                                    </div>

                                    <div class="property-meta">
                                        <span><b>Father:</b></span><span>@m.Father</span><span><b>Mother:</b></span><span>@m.Mother</span>
                                    </div>

                                </article>
                            </div>
                        }
                    </div>
                    <div>
                        <span class="sponsor-btn"><input type="submit" id="sponsor" value="Sponsor" class="real-btn login-btn" /></span>
                    </div>

                    <div class="pagination"><a href="http://alt-realhomes.inspirythemes.com/listing/" class="real-btn current" style="margin-left: 394px;">1</a> <a href="http://alt-realhomes.inspirythemes.com/listing/page/2/" class="real-btn">2</a> </div>
                </section>
                
            </div>
            </div>
        @*@Html.Partial("_works")*@


        </div>
    </div>


<script type="text/javascript">
    $(document).ready(function () {

        var slectedItems=[ ];
        $("#select").on('click', function (e) {
            e.preventDefault();
            var closeButton = $(this);
            slectedItems.push($(this).attr("data-id"));
            
        });

        $("#sponsor").on('click', function (e) {
            e.preventDefault();
            var closeButton = $(this);
            $.ajax({
                type: "POST",
                url: '/Pledge/Sponsor',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    Selected:slectedItems
                    
                }),
                success: function (data) {
                   window.location = '/Pledge/Grid'
                }
            });

        });
        
    });
</script>

