
@*@model IEnumerable<Deed.Web.ViewModels.CardViewModel>*@
@model PagedList.IPagedList<Deed.Web.ViewModels.CardViewModel>
@using PagedList
@{
    ViewBag.Title = "Support Us";
}

<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/hands_raised_0.png'); background-size: cover; ">
    <div class="container">
        @*<div class="wrap clearfix">
            <h1 class="page-title"><span>Pledge/Support Us</span></h1>
            <p></p>
        </div>*@
    </div>
</div>
<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="col-md-7 main-wrap">
            <div class="main ">

                <section class="listing-layout">

                    <h3 class="title-heading"><a class="">Sponsor Students</a> </h3>

                    <div class="view-type clearfix">
                        <a class="list active" href="http://alt-realhomes.inspirythemes.com/listing/?view=list"></a>
                        <a class="grid" href="http://alt-realhomes.inspirythemes.com/listing/?view=grid"></a>
                    </div>

                    <div class="list-container clearfix">
                        @foreach (var m in Model)
                        {
                            var Yearlyfee = Math.Round(m.YearlyFee, 2);
                            <div class="span6 ">
                                <article class="property-item clearfix">

                                    <h4><a href="http://deedaday.in/img/upload/students/@m.Picture" title="">@m.Name</a></h4>

                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                            <img width="244" height="163" src="http://deedaday.in/img/upload/students/@m.Picture" class="attachment-property-thumb-image wp-post-image" alt="@m.Name" title="@m.Name">
                                        </a>
                                    </figure>

                                    <div class="detail" id="divstudent">
                                        <h5 class="price">
                                            &#163; @Yearlyfee Per Year
                                        </h5>
                                        @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci…</p>*@
                                        <p>@m.FamilyHistory</p>
                                        @*<a class="more-details" href="@Url.Action("Details", "Pledge", new {id=m.ID })">More Details <i class="fa fa-caret-right"></i></a>*@
                                        <a class="more-details" href="@Url.Action("Details", "Pledge", new { id=@m.ID})">More Details <i class="fa fa-caret-right"></i></a>

                                        @*<span class="pull-right"><input type="submit" value="Select" class="real-btn login-btn" /></span>*@
                                        @*<span class="pull-right"><a id="select" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</a></span>*@
                                        <button id="select" data-src="http://deedaday.in/img/upload/students/@m.Picture" class="btn btn-xs btn-danger pull-right" data-id="@m.ID">Select</button>


                                    </div>

                                    <div class="property-meta">
                                        <span><b>Father:</b></span><span>@m.Father</span><span><b>Mother:</b></span><span>@m.Mother</span>
                                    </div>

                                </article>
                            </div>
                        }
                    </div>
                    <div>
                        @*<span class="sponsor-btn"><input type="submit" id="sponsor" value="Sponsor" class="real-btn login-btn" /></span>*@
                    </div>

                    <div class="pagination"><a href="@Url.Action("Index", new { page=1 })" class="real-btn current" style="margin-left: 323px;">1</a> <a href="@Url.Action("Index", new { page=2 })" class="real-btn">2</a> <a href="@Url.Action("Index", new { page=3 })" class="real-btn">3</a></div>
                </section>

            </div>
        </div>
        @*@Html.Partial("_works")*@
@using (Html.BeginForm("Sponsorr", "Pledge", FormMethod.Post, new { @class = "", role = "form" }))
                    {
        <div class="panel panel-success pull-right">
            <div class="panel-heading">Selected Students</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr><th>Child</th><th>About Child</th><th>Required</th><th>Remove</th>
                            </tr>
                    </thead>
                    <tbody class="trr" id="sprcarttbody">
                       
                        
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    @*<div class="panel-heading">Total Expenses</div>*@
                    <ul class="list-group">
                        <li class="list-group-item"><div><span id="selectedstd">Total Children=0</span></div></li>
                        @*<li class="list-group-item">Add 5% Admin Charges=</li>*@
                        <li class="list-group-item"><div >Total Amount=&#163;<span id="ttlamount"></span></div></li>


                    </ul>
                </div>
            </div>
            <div id="sprbtn">

            <button id="submit" type="submit" class="btn btn-xs btn-danger pull-right">Sponsor</button>
            
            </div>
        </div>
                    }
    </div>
    
</div>







<script type="text/javascript" async>
    //$(document).ready(function () {

    var slectedItems = [];
    var i = 0;
    var total = 0;
    $("#divstudent #select").on('click', function (e) {

        //$(".panel-success #stdimg").append('<li class="list-group-item"><img id="img" style="height:150px; width:150px" src=' + $(this).attr('data-src') + ' ><div id="cls" class="close">X</div></li>');
        $(".listing-layout .title-heading").text("Sponsor Selected Student");
        e.preventDefault();
        var closeButton = $(this);
        slectedItems.push($(this).attr("data-id"));
        //$(this).text("Selected");
        $(this).replaceWith("<a class='btn btn-warning' disabled='disabled' id='e' >Student has been selected</a>");
        $.ajax({
            type: "POST",
            url: '/Pledge/Details',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: $(this).attr("data-id")

            }),
            success: function (d) {
                if (!!d) {
                    
                    $(" #sprcarttbody").append('<tr> <td><img id="img" style="height:70px; width:70px" src="http://deedaday.in/img/upload/students/' + d.StudentImage + '"></td><td><b>Name:</br></b>' + d.StudentName + '</br><b>Class:</br></b>' + d.StudentClass + '</br><b>Age:</br></b>' + d.StudentDOB + '&nbsp;Yr</td><td>&#163;' + d.StudentFee.toFixed(2) + '</td><td class="clsparent"><div data-name="' + d.StudentName + '" data-stdid="' + d.StudentId + '" id="cls"class="close clos" style="float:left">X</div></td><input id="StudentId" name="StudentId" type="hidden" value="' + d.StudentId + '"></tr>');
                    //++i;
                    //var sele=$("Total Childs=+'i'+") ;
                    total = parseFloat(total) + parseFloat(d.StudentFee.toFixed(2));
                    
                    $(".list-group .list-group-item #selectedstd").text(function () { return "Total Children=" + ++i });
                    $(".list-group .list-group-item #ttlamount").text(function () { return total.toFixed(2) });
                }
            }
        });
       

                
                $("td > div").on('click',function (e) {
                    //alert("showw");
                    var closeButton = $(this);
                    if (confirm("Are you sure you want to remove '" + closeButton.attr("data-name") + "' ?")) {
                        @*$.post("@Url.Action("Remove")", { id: closeButton.attr("data-id")}, function (d) {
                            if (!!d.success) {
                                closeButton.parent().remove();
                            }
                        });*@

                        closeButton.closest("tr").remove();
                    };
                });
           
        

    });

    $(".listing-layout .title-heading").on('click', function (e) {
        e.preventDefault();
        $(this).text("Loading.....");
        var closeButton = $(this);
        $.ajax({
            type: "POST",
            url: '/Pledge/Cart',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Selected: $.unique(slectedItems)

            }),
            success: function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(true); closeButton.text("Sponsor Selected Student"); }
            }
        });

    });

    //$("#sprbtn #submit").on('click', function (e) {
    //    e.preventDefault();
    //    $(this).text("Loading.....");
    //    var closeButton = $(this);
    //    $.ajax({
    //        type: "POST",
    //        url: '/Pledge/Cart',
    //        contentType: 'application/json; charset=utf-8',
    //        data: JSON.stringify({
    //            Selected: $.unique(slectedItems)

    //        }),
    //        success: function (d) {
    //            if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(true);}
    //        }
    //    });

    //});


    

    //$(".list-group .list-group-item").popover('show');
    


    //});
</script>

@*'<li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="' + d.first_name + '" data-content="Village:' + d.village + ', Religion:' + d.religion + '"><img id="img" style="height:70px; width:70px" src="http://deedaday.in/img/upload/students/' + d.image + '"><div>Name:' + d.first_name + '</div><div id="cls" class="close">X</div></li>'*@