@*@model IEnumerable<Deed.Data.Legacy.Student>*@

<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>News Gallery</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span12 main-wrap">


            @*<img src="~/Content/images/Dscool4.jpg" />*@
            <!-- Main Content -->
            <div class="main">

                <section class="listing-layout">

                    <h3 class="title-heading">News Gallery</h3>

                    <!-- Gallery Filter -->
                    @*<div id="filter-by" class="clearfix">
                            <a href="#" data-filter="gallery-item" class="active">All</a><a href="http://inspirythemesdemo.com/realhomes/property-status/for-rent/" data-filter="for-rent" title="View all Properties having For Rent status">For Rent</a><a href="http://inspirythemesdemo.com/realhomes/property-status/for-sale/" data-filter="for-sale" title="View all Properties having For Sale status">For Sale</a>
                        </div>*@

                    <!-- Gallery Container -->
                    <div id="gallery-container">
                        <div class="gallery-4-columns isotope clearfix">

                            @*@foreach (var m in Model)
                                {
                                    <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                        <figure>
                                            <div class="media_container">
                                                <a class="swipebox zoom" href="http://deedaday.in/img/upload/students/@m.image" title="@m.first_name"></a>
                                                <a class="link" href="http://deedaday.in/img/upload/students/@m.image"></a>
                                            </div>
                                            <img class="img-border" src="http://deedaday.in/img/upload/students/@m.image" style="width:247px;height:124px" alt="@m.first_name">
                                        </figure>
                                        <h5 class="item-title"><a href="detailPage" title="@m.first_name">@m.first_name</a></h5>
                                    </div>
                                }*@
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/0a34b1c72ee8cbc83d8f778a1d11925e.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/0a34b1c72ee8cbc83d8f778a1d11925e.jpg"></a>
                                    </div>
                                    <img class="img-border" data-title="Akal Academy's Young Science Wizards showcase their work at Science Exhibition" src="http://deedaday.in/img/upload/news/thumb/0a34b1c72ee8cbc83d8f778a1d11925e.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Akal Academy's Young Science Wizards showcase their work at Science Exhibition", newsimage = "http://deedaday.in/img/upload/news/thumb/0a34b1c72ee8cbc83d8f778a1d11925e.jpg" })" title="">Akal Academy's Young Science Wizards showcase their work at Science Exhibition</a></h5>
                            </div>

                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/ab96ce20696fdce2df99fcd17f94251f.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/ab96ce20696fdce2df99fcd17f94251f.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/ab96ce20696fdce2df99fcd17f94251f.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Rural students plant 500 Trees! - Village Saniana's Action on Global Warming Woes", newsimage = "http://deedaday.in/img/upload/news/thumb/ab96ce20696fdce2df99fcd17f94251f.jpg" })" title="">Rural students plant 500 Trees! - Village Saniana's Action on Global Warming Woes</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/36e8ba722cf8d2c5885fb523fbd453a9.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/36e8ba722cf8d2c5885fb523fbd453a9.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/36e8ba722cf8d2c5885fb523fbd453a9.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Leading by Example: Village Ellenabad?s Akal Academy Staff Members perform Sehej Path; celebrate Bhog with young students", newsimage = "http://deedaday.in/img/upload/news/thumb/36e8ba722cf8d2c5885fb523fbd453a9.jpg" })" title="">Leading by Example: Village Ellenabad?s Akal Academy Staff Members perform Sehej Path; celebrate Bhog with young students</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/45c5a9d6541f919ab6c18b138ac4047b.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/45c5a9d6541f919ab6c18b138ac4047b.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/45c5a9d6541f919ab6c18b138ac4047b.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Another Leap of Transformation: Foundation for 124th Akal Academy Branch laid at Sacha Sauda, Jind", newsimage = "http://deedaday.in/img/upload/news/thumb/45c5a9d6541f919ab6c18b138ac4047b.jpg" })" title="">Another Leap of Transformation: Foundation for 124th Akal Academy Branch laid at Sacha Sauda, Jind</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/acacbe0bf225c37aba1be7549c1ea673.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/acacbe0bf225c37aba1be7549c1ea673.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/acacbe0bf225c37aba1be7549c1ea673.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Awareness Rally for Saving Environment & Drug De-Addiction by students of Akal Academy, Dhotian", newsimage = "http://deedaday.in/img/upload/news/thumb/acacbe0bf225c37aba1be7549c1ea673.jpg" })" title="">Awareness Rally for Saving Environment & Drug De-Addiction by students of Akal Academy, Dhotian</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/d2049ab2c28e53723991375f7efe3dba.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/d2049ab2c28e53723991375f7efe3dba.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/d2049ab2c28e53723991375f7efe3dba.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Akal Academy's Young Science Wizards showcase their work at Science Exhibition", newsimage = "http://deedaday.in/img/upload/news/thumb/0a34b1c72ee8cbc83d8f778a1d11925e.jpg" })" title="">Akal Academy, Dhudial students participate in Guru Teg Bahadur Nagar Kirtan City Celebrations</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/d87da9f4ca9596ac1856cd3dbbbacea3.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/d87da9f4ca9596ac1856cd3dbbbacea3.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/d87da9f4ca9596ac1856cd3dbbbacea3.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Celebrating Daughter's Day: Akal Academy, Dhudial Rejoices for Girl Children", newsimage = "http://deedaday.in/img/upload/news/thumb/d87da9f4ca9596ac1856cd3dbbbacea3.jpg" })" title="">Celebrating Daughter's Day: Akal Academy, Dhudial Rejoices for Girl Children</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/4c29a908d3966b51f2bad9d6211e6ce3.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/4c29a908d3966b51f2bad9d6211e6ce3.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/4c29a908d3966b51f2bad9d6211e6ce3.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Akal Academy, Ratia's Harmanpreet Kaur invited to SCERT Model Exhibition in Delhi.", newsimage = "http://deedaday.in/img/upload/news/thumb/4c29a908d3966b51f2bad9d6211e6ce3.jpg" })" title="">Akal Academy, Ratia's Harmanpreet Kaur invited to SCERT Model Exhibition in Delhi.</a></h5>
                            </div>

                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/364873d79725935ed3f51a656a3bc5fe.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/364873d79725935ed3f51a656a3bc5fe.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/364873d79725935ed3f51a656a3bc5fe.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Youths show how it's done with NSS Camp -Akal Academy Kajri Students Social Activism", newsimage = "http://deedaday.in/img/upload/news/thumb/364873d79725935ed3f51a656a3bc5fe.jpg" })" title="">Youths show how it's done with NSS Camp -Akal Academy Kajri Students Social Activism</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/24dbb277d27251f3c32da3e96510616c.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/24dbb277d27251f3c32da3e96510616c.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/24dbb277d27251f3c32da3e96510616c.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "3rd International Conference on 'Innovative Trends in Community Health Nursing'", newsimage = "http://deedaday.in/img/upload/news/thumb/24dbb277d27251f3c32da3e96510616c.jpg" })" title="">3rd International Conference on "Innovative Trends in Community Health Nursing"</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/6f88c5ee8074e744e80660698d799608.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/6f88c5ee8074e744e80660698d799608.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/6f88c5ee8074e744e80660698d799608.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Rural Aces shine at Akal Academy ReethKheri: Super - 8 perfectionists of 2012-13", newsimage = "http://deedaday.in/img/upload/news/thumb/6f88c5ee8074e744e80660698d799608.jpg" })" title="">Rural Aces shine at Akal Academy ReethKheri: Super - 8 perfectionists of 2012-13</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/f40fe789570dfd9f34f73342149d015a.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/f40fe789570dfd9f34f73342149d015a.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/f40fe789570dfd9f34f73342149d015a.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Village Dhotian Akal Academy Spartans outshined city kids; win Gold, Silver & Bronze medals at New Delhi Karate Championship", newsimage = "http://deedaday.in/img/upload/news/thumb/f40fe789570dfd9f34f73342149d015a.jpg" })" title="">Village Dhotian Akal Academy Spartans outshined city kids; win Gold, Silver & Bronze medals at New Delhi Karate Championship</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/11a94557cdb49adadfb843c75af16648.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/11a94557cdb49adadfb843c75af16648.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/11a94557cdb49adadfb843c75af16648.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Nurturing Rural Kids with Care: Health Check-Ups for ensuring Healthy Steady & Smiling Growth.", newsimage = "http://deedaday.in/img/upload/news/thumb/11a94557cdb49adadfb843c75af16648.jpg" })" title="">Nurturing Rural Kids with Care: Health Check-Ups for ensuring Healthy Steady & Smiling Growth.</a></h5>
                            </div>

                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/b6a8c15d9465c124697b6980ad2b3339.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/b6a8c15d9465c124697b6980ad2b3339.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/b6a8c15d9465c124697b6980ad2b3339.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Akal Academy Gomti village's Gurpreet Kaur honored with BAL RATAN 2013 Award!", newsimage = "http://deedaday.in/img/upload/news/thumb/b6a8c15d9465c124697b6980ad2b3339.jpg" })" title=""></a>Akal Academy Gomti village's Gurpreet Kaur honored with BAL RATAN 2013 Award!</h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/8b82b1a354e39cd4ed1b126bc9b7b74f.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/8b82b1a354e39cd4ed1b126bc9b7b74f.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/8b82b1a354e39cd4ed1b126bc9b7b74f.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Champs at Akal Academy Ghugg", newsimage = "http://deedaday.in/img/upload/news/thumb/8b82b1a354e39cd4ed1b126bc9b7b74f.jpg" })" title="">"Rural "India's Got Talent": Lil' 'Spell-Bee' champs at Akal Academy Ghugg</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/ca28a9a57b3905f7d981f2837d503486.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/ca28a9a57b3905f7d981f2837d503486.jpg"></a>
                                    </div>
                                    <img class="img-border"  src="http://deedaday.in/img/upload/news/thumb/ca28a9a57b3905f7d981f2837d503486.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Akal Academy Nursery Girl shines at Fatehgarh Sahib Jodh Mela", newsimage = "http://deedaday.in/img/upload/news/thumb/ca28a9a57b3905f7d981f2837d503486.jpg" })" title="">Akal Academy Nursery Girl shines at Fatehgarh Sahib Jodh Mela</a></h5>
                            </div>

                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/6c5aa196c10cdf9cb6d45c799a51e8d3.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/6c5aa196c10cdf9cb6d45c799a51e8d3.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/6c5aa196c10cdf9cb6d45c799a51e8d3.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Village Dhanal Kalan 'Paints It Green' with Akal Academy Students", newsimage = "http://deedaday.in/img/upload/news/thumb/6c5aa196c10cdf9cb6d45c799a51e8d3.jpg" })" title="">Village Dhanal Kalan 'Paints It Green' with Akal Academy Students</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/ab3a61ce9dbe39e0327113fe1e459219.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/ab3a61ce9dbe39e0327113fe1e459219.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/ab3a61ce9dbe39e0327113fe1e459219.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Wave of 'Divine Purification' strikes village Bhariyal Lehri, Gurdaspur: 161 kids initiated to Khalsa Brotherhood", newsimage = "http://deedaday.in/img/upload/news/thumb/ab3a61ce9dbe39e0327113fe1e459219.jpg" })" title="">Wave of 'Divine Purification' strikes village Bhariyal Lehri, Gurdaspur: 161 kids initiated to Khalsa Brotherhood</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/5b0f2bb87214808e930e6ac85c8e1550.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/5b0f2bb87214808e930e6ac85c8e1550.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/5b0f2bb87214808e930e6ac85c8e1550.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Young Aces of Akal Academy Majri Win Hearts!", newsimage = "http://deedaday.in/img/upload/news/thumb/5b0f2bb87214808e930e6ac85c8e1550.jpg" })" title="">Young Aces of Akal Academy Majri Win Hearts!</a></h5>
                            </div>
                            <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent">
                                <figure>
                                    <div class="">
                                        <a class="swipebox " href="http://deedaday.in/img/upload/news/thumb/37fd04d54d4bd8b8ba7020b8c8c80c1b.jpg" title=""></a>
                                        <a class="" href="http://deedaday.in/img/upload/news/thumb/37fd04d54d4bd8b8ba7020b8c8c80c1b.jpg"></a>
                                    </div>
                                    <img class="img-border" src="http://deedaday.in/img/upload/news/thumb/37fd04d54d4bd8b8ba7020b8c8c80c1b.jpg" style="width:247px;height:124px" alt="">
                                </figure>
                                <h5 class="item-title"><a href="@Url.Action("NewsDetail", "Media", new { newsheader = "Gurdwara Panjokhra Sahib organizes Sikhi-knowledge event for young students in English.", newsimage = "http://deedaday.in/img/upload/news/thumb/37fd04d54d4bd8b8ba7020b8c8c80c1b.jpg" })" title="">Gurdwara Panjokhra Sahib organizes Sikhi-knowledge event for young students in English.</a></h5>
                            </div>
                        </div>
                    </div>
                    <!-- end of gallery container -->

                </section>

            </div><!-- End Main Content -->

        </div> <!-- End span12 -->

    </div><!-- End contents row -->

</div>

<script type="text/javascript">
(function (e) {

    $(".gallery-item .media_container").css("background", "url(Content/images/icon-link.png) no-repeat");

});

</script>