@model IEnumerable<Deed.Data.Legacy.YouTubeVideos>


<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Video Gallery</span></h1>
            <p></p>
        </div>
    </div>
</div>




<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span12 main-wrap">


            @*<img src="~/Content/images/Dscool4.jpg" />*@
            <!-- Main Content -->
            <div class="main">

                <section class="listing-layout">

                    <h3 class="title-heading">Video Gallery</h3>

                    <!-- Gallery Filter -->
                    @*<div id="filter-by" class="clearfix">
                            <a href="#" data-filter="gallery-item" class="active">All</a><a href="http://inspirythemesdemo.com/realhomes/property-status/for-rent/" data-filter="for-rent" title="View all Properties having For Rent status">For Rent</a><a href="http://inspirythemesdemo.com/realhomes/property-status/for-sale/" data-filter="for-sale" title="View all Properties having For Sale status">For Sale</a>
                        </div>*@

                    <!-- Gallery Container -->
                    <div id="gallery-container">
                        <div id="contentModal"></div>
                        <div class="gallery-4-columns  clearfix">


                            @foreach (var m in Model)
                            {
                                <div class="post property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale">
                                    <figure>
                                        <div class="media_container">
                                            @*<a class="swipebox zoom" href="~/Content/images/Dscool4.jpg" title="Florida 5, Pinecrest, FL"></a>*@
                                            <a class="link" href="@m.link"></a>
                                        </div>
                                        <img class="img-border" src="http://img.youtube.com/vi/+@m.link+?autoplay=1" alt="@m.title">
                                    </figure>
                                    <h5 class="item-title"><a href="@m.link" title="@m.title">@m.title</a></h5>
                                </div>

                            }



                        </div>
                    </div>
                    <!-- end of gallery container -->

                </section>

            </div><!-- End Main Content -->

        </div> <!-- End span12 -->

    </div><!-- End contents row -->

</div>


<script type="text/javascript">

    (function (e) {
        $(".link").on('click', function () {
            var newbutton = $(this);
            $.get('/Student/Player', { linkk: $(this).attr("href") }, function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(true); }
            });
        });


    });

</script>