<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas {
            height: 100%;
        }
        .attachment-partners-logo {
            width: auto;
            height: 60px;
            }

    </style>

    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        function initialize() {
            var myLatLng = new google.maps.LatLng(-34.397, 150.644);

            var mapOptions = {

                center: myLatLng,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP


            };

            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var marker = new google.maps.Marker({

                position: myLatLng,
                title: 'Hi world !',
                map: map



            });
        }

    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var localized = { "nav_title": "Go to..." };
        /* ]]> */
    </script>

</head>

<body onload="initialize()">

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @Html.Partial("_header")
            @RenderBody()

        </section>
    </div>
    <div class="container page-carousel">
        <div class="row">
            <div class="span12">
                <section class="brands-carousel  clearfix">
                    <h3><span>Partners</span></h3>
                    <ul class="brands-carousel-list clearfix">
                        <li>
                            <a target="_blank" href="http://worldsikhheritage.com/" title="World Sikh Heritage">
                                <img width="190" height="55" src="http://worldsikhheritage.com/images/wsht_logo.png"
                                     class="attachment-partners-logo wp-post-image" alt="World Sikh Heritage" title="World Sikh Heritage">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.ruraleducation.in/" title="Rural Education">
                                <img width="190" height="55" src="http://www.ruraleducation.in/img/logo.jpg" class="attachment-partners-logo wp-post-image" alt="Rural Education" title="Rural Education">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://eternaluniversity.edu.in/" title="Eternal University">
                                <img width="190" height="55" src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Eternal-University-Logos-for-web-resized-200x170.png" class="attachment-partners-logo wp-post-image" alt="Eternal University" title="Eternal University">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://akalacademy.in/" title="Akal Academy">
                                <img width="190" height="55"  src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Akal-Academy-Logos-for-web-resized-200x170.png" class="attachment-partners-logo wp-post-image" alt="Akal Academy" title="Akal Academy">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://eternalvoice.in" title="Eternal Voice">
                                <img width="190" height="55" src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Eternal-Voice-resized-200x170.jpg" class="attachment-partners-logo wp-post-image" alt="Eternal Voice" title="Eternal Voice">
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="http://sangattelevision.org" title="Sangat TV">
                                <img width="190" height="55" src="http://sangattelevision.org/wp-content/uploads/2012/08/san_logo.png"
                                     class="attachment-partners-logo wp-post-image" alt="Sangat TV" title="Sangat TV">
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="http://www.rsaassociates.net/" title="RSA Assosiates">
                                RSA Assosiates
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="http://ishervon.com" title="Ishervon">
                                <img width="190" height="55" src="http://ishervon.com/wp-content/uploads/2014/06/Logo.png"
                                     class="attachment-partners-logo wp-post-image" alt="Ishervon" title="Ishervon">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    <footer id="footer-wrapper">

        <div id="footer" class="container" style="width:1186px">

            <div class="row">

                <div class="span3">
                    <section id="text-2" class="widget clearfix widget_text">
                        <h3 class="title">About Deed A Day</h3>
                        <div class="textwidget">
                            <p>The Kalgidhar Trust – Baru Sahib is an Education focused non-profit charitable organization fighting the cancer of Drugs and Alcohol Abuse by promoting quality Education alongwith Healthcare, Women empowerment and Social welfare, to the deprived people, in far-flung rural areas of North India.</p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section id="recent-posts-3" class="widget clearfix widget_recent_entries">
                        <h3 class="title">Contact Us</h3>
                        <div class="textwidget">
                        <p>
                            The Kalgidhar Trust UK &amp; <br>
                            30,  Merrick Road,<br>
                            Southall London ,<br>
                            UB2 4AU
                        </p>
                            </div>
                    </section>
                </div>

                <div class="span3">
                    <section id="text-3" class="widget clearfix widget_text">
                        <div class="textwidget">
                            <p>Phone: +91-11-42434243</p>
                            <p>Mobile: 07956 012 900 /<br>07791041009/<br>07711382621</p>
                            <p>Email: <a href="">info@deedaday.co.uk</a></p>
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <!-- Footer Bottom -->
        <div id="footer-bottom" class="container">

            <div class="row">
                <div class="span6">
                    <p class="copyright">Copyright © 2014. All Rights Reserved.</p>
                </div>
                
            </div>

        </div>
        <!-- End Footer Bottom -->

    </footer>


    @*@RenderSection("scripts", required: false)*@
</body>
</html>
