<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/modernizr")
    @*<script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider();
        });
    </script>*@
    <script type="text/javascript">
        /* <![CDATA[ */
        var localized = { "nav_title": "Go to..." };
        /* ]]> */
    </script>

</head>

<body>

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @Html.Partial("_header")
            @RenderBody()
            
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p> </p>
            </div>
        </div>
        @*<script type="text/javascript">

            var tpj = jQuery;
            tpj.noConflict();
            var revapi1;

            tpj(document).ready(function () {

                if (tpj('#rev_slider_1_1').revolution == undefined)
                    revslider_showDoubleJqueryError('#rev_slider_1_1');
                else
                    revapi1 = tpj('#rev_slider_1_1').show().revolution(
                     {
                         dottedOverlay: "none",
                         delay: 6000,
                         startwidth: 1170,
                         startheight: 550,
                         hideThumbs: 200,

                         thumbWidth: 100,
                         thumbHeight: 50,
                         thumbAmount: 3,

                         navigationType: "none",
                         navigationArrows: "solo",
                         navigationStyle: "round",

                         touchenabled: "on",
                         onHoverStop: "on",

                         navigationHAlign: "center",
                         navigationVAlign: "bottom",
                         navigationHOffset: 0,
                         navigationVOffset: 20,

                         soloArrowLeftHalign: "left",
                         soloArrowLeftValign: "center",
                         soloArrowLeftHOffset: 20,
                         soloArrowLeftVOffset: 0,

                         soloArrowRightHalign: "right",
                         soloArrowRightValign: "center",
                         soloArrowRightHOffset: 20,
                         soloArrowRightVOffset: 0,

                         shadow: 0,
                         fullWidth: "on",
                         fullScreen: "off",

                         spinner: "spinner3",

                         stopLoop: "off",
                         stopAfterLoops: -1,
                         stopAtSlide: -1,


                         shuffle: "off",

                         autoHeight: "off",
                         forceFullWidth: "off",


                         hideThumbsOnMobile: "off",
                         hideBulletsOnMobile: "off",
                         hideArrowsOnMobile: "off",
                         hideThumbsUnderResolution: 0,

                         hideSliderAtLimit: 0,
                         hideCaptionAtLimit: 768,
                         hideAllCaptionAtLilmit: 0,
                         startWithSlide: 0,
                         videoJsPath: "http://alt-realhomes.inspirythemes.com/wp-content/plugins/revslider/rs-plugin/videojs/",
                         fullScreenOffsetContainer: ""
                     });

            });	//ready

        </script>*@
        
    </footer>

    
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
