<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/style/")
    @Styles.Render("~/Content/bootstrap/")
    @Scripts.Render("~/bundles/modernizr")
</head>
@Html.Partial("links")
<body>

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @Html.Partial("_header")
            @RenderBody()
            
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p> </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/jquery.ui.position.min.js"></script>
<script src="~/Scripts/jquery.ui.widget.min.js"></script>
<script src="~/Scripts/jquery.ui.menu.min.js"></script>