<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        /* <![CDATA[ */
        var localized = { "nav_title": "Go to..." };
        /* ]]> */
    </script> 
</head>

<body>

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @Html.Partial("_header")
            @RenderBody()
            
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p> </p>
            </div>
        </div>
    </footer>

    
    @RenderSection("scripts", required: false)
</body>
</html>
