<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas {
            height: 100%;
        }
    </style>

    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        function initialize() {
            var myLatLng = new google.maps.LatLng(-34.397, 150.644);

            var mapOptions = {

                center: myLatLng,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP


            };

            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var marker = new google.maps.Marker({

                position: myLatLng,
                title: 'Hi world !',
                map: map



            });
        }

    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var localized = { "nav_title": "Go to..." };
        /* ]]> */
    </script>

</head>

<body onload="initialize()">

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @Html.Partial("_header")
            @RenderBody()

        </section>
    </div>
    @*<footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p> </p>
            </div>
        </div>

    </footer>*@
    <div class="container page-carousel">
        <div class="row">
            <div class="span12">
                <section class="brands-carousel  clearfix">
                    <h3><span>Partners</span></h3>
                    <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;">
                        <div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;height:175px;">
                            <ul class="brands-carousel-list clearfix jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; width: 1524px; left: 0px;">
                                <li style="margin-left:100px" class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;">
                                    <a target="_blank" href="http://www.ruraleducation.in/" title="graphicriver">
                                        <img width="100%" height="100%" src="http://www.ruraleducation.in/img/logo.jpg" class="attachment-partners-logo wp-post-image" alt="ruraleducation" title="ruraleducation">
                                    </a>
                                </li>
                                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2" style="float: left; list-style: none;">
                                    <a target="_blank" href="http://eternaluniversity.edu.in/" title="photodune">
                                        <img width="100%" height="100%" src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Eternal-University-Logos-for-web-resized-200x170.png" class="attachment-partners-logo wp-post-image" alt="eternaluniversity" title="eternaluniversity">
                                    </a>
                                </li>
                                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none;">
                                    <a target="_blank" href="http://akalacademy.in/" title="themeforest">
                                        <img width="100%" height="100%" src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Akal-Academy-Logos-for-web-resized-200x170.png" class="attachment-partners-logo wp-post-image" alt="akalacademy" title="akalacademy">
                                    </a>
                                </li>
                                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="4" style="float: left; list-style: none;">
                                    <a target="_blank" href="http://eternalvoice.in" title="activeden">
                                        <img width="100%" height="100%" src="http://barusahib.org/wp-content/plugins/weptile-image-slider-widget/cache/Eternal-Voice-resized-200x170.jpg" class="attachment-partners-logo wp-post-image" alt="eternalvoice" title="eternalvoice">
                                    </a>
                                </li>
                                
                            </ul>
                        </div><div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal" disabled="disabled" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <footer id="footer-wrapper">

        <div id="footer" class="container" style="width:1186px">

            <div class="row">

                <div class="span3">
                    <section id="text-2" class="widget clearfix widget_text">
                        <h3 class="title">About Real Homes</h3>			<div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section id="recent-posts-3" class="widget clearfix widget_recent_entries">
                        <h3 class="title">Recent Posts</h3>		<ul>
                            <li>
                                <a href="http://alt-realhomes.inspirythemes.com/lorem-post-with-image-format/">Lorem Post With Image Format</a>
                            </li>
                            <li>
                                <a href="http://alt-realhomes.inspirythemes.com/example-video-blog-post/">Example Video Blog Post</a>
                            </li>
                            <li>
                                <a href="http://alt-realhomes.inspirythemes.com/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a>
                            </li>
                            <li>
                                <a href="http://alt-realhomes.inspirythemes.com/example-post-with-image-post-format/">Example Post With Image Post Format</a>
                            </li>
                            <li>
                                <a href="http://alt-realhomes.inspirythemes.com/lorem-ipsum-dolor-sit-amet/">Lorem Ipsum Dolor Sit Amet</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="span3">
                    <section id="displaytweetswidget-2" class="widget clearfix widget_displaytweetswidget"><h3 class="title">Latest Tweets</h3><p>Check out this great <a href="http://twitter.com/search?q=%23themeforest&amp;src=hash" target="_blank">#themeforest</a> item 'Political Press - HTML Template' <a href="http://t.co/gU1vpXPyAd" target="_blank">http://t.co/gU1vpXPyAd</a><br><small class="muted">- Thursday Dec 5 - 8:52am</small></p><p>Check out our latest theme 'Political Press' <a href="http://t.co/uQzbZvuLB0" target="_blank">http://t.co/uQzbZvuLB0</a><br><small class="muted">- Thursday Oct 3 - 5:18am</small></p></section>
                </div>

                <div class="span3">
                    <section id="text-3" class="widget clearfix widget_text">
                        <h3 class="title">Contact Us</h3>			<div class="textwidget">
                            <p>
                                The Kalgidhar Trust UK &amp; <br>
                                30,  Merrick Road,<br>
                                Southall London ,<br>
                                UB2 4AU
                            </p>
                            <p>Phone: +91-11-42434243</p>
                            <p>Mobile: 07956 012 900 /<br>07791041009/<br>07711382621</p>
                            <p>Email: <a href="">info@deedaday.co.uk</a></p>
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <!-- Footer Bottom -->
        <div id="footer-bottom" class="container">

            <div class="row">
                <div class="span6">
                    <p class="copyright">Copyright © 2014. All Rights Reserved.</p>
                </div>
                
            </div>

        </div>
        <!-- End Footer Bottom -->

    </footer>


    @*@RenderSection("scripts", required: false)*@
</body>
</html>
