<section class="widget advance-search" style="margin-top:5px">
    <h4 class="title search-heading">Student Search <i class="fa fa-search"></i></h4><div class="as-form-wrap">
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{ 
        <form class="" action="" method="get">
            <div class="option-bar large">
                <input type="text" name="StudentName" id="student" value="" placeholder="Enter Student Name">
                @Html.DropDownList("Religion", "Select Religion")
                @Html.DropDownList("Country", "Select Country")
                @Html.DropDownList("State", "Select State")
                @Html.DropDownList("City", "Select City")

                @*<input type="text" name="StudentCountry" id="student" value="" placeholder="Enter Student Country">
                <input type="text" name="District" id="student" value="" placeholder="Enter Student District">*@
            </div>

            <div class="option-bar">
                <input id="search" type="submit" value="Search" class=" real-btn btn">

                @*<button id="search">s</button>*@
            </div>
        </form>
}
    </div>

</section>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#search").on('click', function () {


            $.ajax({
                type: "POST",
                url: '@Url.Action("Search", "Home")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    searchString: $('#student').val()
                    
                }),
                success: function (data) {
                    window.location = '/home/index'
                }
            });
        });
    });
            
</script>


<script src="~/Scripts/jquery-2.1.1.js"></script>