@model IEnumerable<Deed.Web.ViewModels.StoryViewModel>

<section class="featured-properties-carousel clearfix">
    <div class="narrative">
        <h3>Success Stories </h3>
        <p>View a list of Success Stories.</p>
    </div>
    <div class="carousel es-carousel-wrapper">
        <div class="es-carousel">
            <ul class="clearfix" style="width: 1925px; margin-left: 0px;">

               @foreach(var m in Model  )
                {
                   <li style="margin-right: 30px; width: 245px;">
                    <figure>
                        <a href="" title="@m.StoryTitle">
                            <img width="244" height="163" src="http://deedaday.in/img/upload/story/@m.StoryImage" class="attachment-property-thumb-image wp-post-image" alt="@m.StoryTitle" title="@m.StoryTitle">
                        </a>
                    </figure>
                    <h4><a href="@Url.Action("Gett", "Home", new { id = m.StoryId })" title="@m.StoryTitle">@m.StoryTitle</a></h4>
                    <p>@m.StoryContent<a href="@Url.Action("Get", "Home", new { id = m.StoryId })"> Know More </a> </p>
                    
                </li>
                    
                }
            </ul>
        </div>
        <div class="es-nav"><span class="es-nav-prev"></span><span class="es-nav-next"></span></div>
    </div>
</section>
