
@model PagedList.IPagedList<Deed.Web.ViewModels.SearchViewModel>

<div class="container contents lisitng-grid-layout">
    <div class="row">

        
        <div class="span9 main-wrap" style="margin-left:-70px;">
            <div class="main ">

                <section id="sec" class="listing-layout">

                    <h3 class="title-heading"><a class="">Search Result </a> </h3>


                    <div class="view-type clearfix">
                        <a id="list" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th-list">
                            </span>
                        </a> <a id="grid" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th"></span>
                        </a>
                    </div>

                    <div class="list-container clearfix">
                        @foreach (var m in Model)
                        {
                           
                            <div class="span6 " id="articleparent">
                                <article class="property-item clearfix">

                                    <h4><a href="@Url.Action("Details", "Search", new {id = m.StudentID})" title="">@m.StudentName</a></h4>

                                    <figure>
                                        <a href="@Url.Action("Details", "Search", new {id = m.StudentID})" title="@m.StudentName">
                                            <img width="244" height="163" src="http://deedaday.in/img/upload/students/@m.StudentPic" class="attachment-property-thumb-image wp-post-image" alt="@m.StudentFather" title="@m.StudentName">
                                        </a>
                                    </figure>

                                    <div class="detail" id="divstudent">
                                        <h5 class="price">
                                            @*&#163; @Yearlyfee Per Year*@
                                        </h5>
                                       
                                        <p>@m.StudentFamilyHistory</p>
                                        
                                        <a class="more-details" href="@Url.Action("Details", "Pledge", new { id=@m.StudentID})">More Details <i class="fa fa-caret-right"></i></a>

                                       
                                        <button id="select" data-src="http://deedaday.in/img/upload/students/@m.StudentPic" class="btn btn-xs btn-danger pull-right" data-id="@m.StudentID">Select</button>


                                    </div>

                                    <div class="property-meta">
                                        <span><b>Father:</b></span><span>@m.StudentFather</span><span><b>Mother:</b></span><span>@m.StudentMother</span>
                                    </div>

                                </article>
                            </div>
                        }
                    </div>
                    <div>
                        @*<span class="sponsor-btn"><input type="submit" id="sponsor" value="Sponsor" class="real-btn login-btn" /></span>*@
                    </div>

                    <div class="pagination"><a href="@Url.Action("Get", new { page=1 })" class="real-btn current" style="margin-left: 323px;">1</a> <a href="@Url.Action("Get", new { page=2 })" class="real-btn">2</a> <a href="@Url.Action("Get", new { page=3 })" class="real-btn">3</a></div>
                </section>

            </div>
        </div>
        
    </div>

</div>

<script type="text/javascript">

$(".view-type #list").on('click', function (event) {
        event.preventDefault();

        $('#sec').removeClass('property-grid');
        $("h5").addClass("price");
        $("div.property-meta").show();
        //$("#divstudent #select").show();
        $(".property-item #divstudent").addClass('detail');
        $(".list-container #articleparent").addClass('span6');
        $("p").css('font-size', '13px');
        $("p").css('line-height', '23px');

    });
    $(".view-type  #grid").on('click', function (event) {
        //event.preventDefault();
        $('#sec').addClass('property-grid ');
        $("h5").removeClass("price");
        $("div.property-meta").hide();
        //$("#divstudent #select").remove();
        $(".property-item #divstudent").removeClass('detail');
        $(".list-container #articleparent").removeClass('span6');
        $("p").css('font-size', '12px');
        $("p").css('line-height', '14px');

    });

    </script>